#uploader {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-bottom: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
#uploader .plupload_header {
  background: #333;
}
#uploader .plupload_header .plupload_header_content {
  background: url("../../../assets/img/logo-x-small.png") no-repeat;
  background-position: right center;
  padding-left: 10px;
  color: #7dca5c;
}

#grfx-upload-manager .grfx-success {
  color: red;
  padding-left: 10px;
  font-style: oblique;
}
#grfx-upload-manager .grfx-upload-complete td {
  color: #ccc;
}
#grfx-upload-manager table tbody #grfx-upload-row-template {
  display: none;
}
#grfx-upload-manager table tbody tr {
  background-color: #f5f5f5;
}
#grfx-upload-manager table tbody tr.alternate {
  background-color: #f0f0f0;
}
#grfx-upload-manager table tbody tr.grfx-new-upload td {
  background-color: #e5f4de;
  border-bottom: 1px solid #d0ebc3;
}
#grfx-upload-manager table tbody tr.grfx-upload-processing {
  font-style: italic;
}
#grfx-upload-manager table tbody tr.grfx-upload-processing td {
  color: #0074a2;
}

.grfx-uploader-cron {
  width: 100% !important;
  color: #888 !important;
  background: none !important;
}

.grfx-ftp {
  width: 100% !important;
  color: #888 !important;
  background: none !important;
}

.grfx-divider {
  margin-bottom: 100px;
}

#grfx_watermark_image_preview {
  background-color: #333;
}
#grfx_watermark_image_preview h2 {
  color: #ddd;
  font-size: 24px;
  margin: 20px;
}
#grfx_watermark_image_preview img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#grfx_watermark_image_preview #upload_watermark_form {
  display: block;
  padding: 20px;
}
#grfx_watermark_image_preview #upload_watermark_form span {
  color: white;
}

#license-accordion h3 {
  background: #7dca5c;
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-transform: uppercase;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
#license-accordion input[type="text"] {
  background-color: #fff;
  font-size: 1.7em;
  margin: 0;
  outline: 0 none;
  padding: 3px 8px;
  width: 100% !important;
}

.grfx-logo-right {
  display: block;
  float: right;
}
